<%- include('partials/header.html') %>

<div class="jumbotron text-center mt-5">
    <i class="fas fa-user-secret fa-6x"></i>
  <div class="container box mt-5">
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>

    <hr>

    <h1 class="display-3 my-4">I hope you don't find out it was me!</h1>
    <% userss.forEach( (user) => { %>
    <p class="secret-text rounded-3"><%=user.secret%></p>
    <% }); %>
  </div>
</div>

<%- include('partials/footer.html') %>
