body {
    background-color: #FAF0E4;
    font-family: 'Cherry Bomb One', cursive;
    height: 100vh;
}
.container { 
    display: block;
    justify-content: center;
}

.title-box {
    background: #9BCDD2;
    border-radius: 100px;
    padding: 30px;
}

.title {
    text-align: center;
    font-size: 5rem;
}


