<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WHAT DAY IS IT??</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1><%= kindOfDay %></h1>
        <ul>
            <% for (var i = 0; i < items.length; i++) {%>
            <li><%= items[i] %></li>   
            <% } %>
            <li>
                <form action="/" method="post">
                    <input name="item">
                    <button type="submit">ADD!</button>
                </form>
            </li>
        </ul>
    </body>
</html>
