<%- include("partials/header.html"); -%>

<h1 class="heading">Home</h1>
<p class="post-content"><%= homeStart %></p>
<h1 class="heading">Posts</h1>

<% posts.forEach(function (post) { %>
    <h1 class="post-title"><%= post.title %></h1>
    <% if (post.content.length > 100) { %>
        <p class="post-content"><%= post.content.slice(0, 100) %>   ... <a href="/posts/<%= post._id %>">Read More</a>
    <% } else { %>
        <p class="post-content"><%= post.content %></p>

<% }}) %>


<%- include("partials/footer.html"); -%>
